@font-face {
  font-family: 'Syne';
  src: url("../public/font/Syne-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-Mono';
  src: url("../public/font/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: 'Satoshi';
  src: url("../public/font/Satoshi-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --background-primary:#FDFBF5;
  --background-secondary: #FFFFFF;
  --text-color-primary:#191919;
  --text-color-secondary:#000000;
  --text-color-inverse: #FFFFFF;
  --font-primary: Syne, Arial, sans-serif;
  --font-secondary: Roboto-Mono, Arial, sans-serif;
  --font-tertiary: Satoshi, Arial, sans-serif;
}

body {
  background-color: var(--background-primary);
  width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 1784px;
  border: solid var(--text-color-secondary) 1px;
  margin: 20px;
  padding: 48px;
}

.logo__combination {
  display: flex;
  align-items: center;
  gap: 18px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.title-font {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 110%;
  color: var(--text-color-primary);
}

.normal-font {
  font-family: var(--font-tertiary);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: var(--text-color-primary);
}

.subtitle-font {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--text-color-primary);
}

